*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body, html { 
  font-size: 100%; 
  padding: 0; 
  margin: 0;
  color: #000;
  overflow-x: hidden;
}

img.typeface {
    width: 350px;
    height: auto;
    padding: 10px 20px;
}

/*===============
*LOADER
=================*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 48%;
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: 1001;
  
  .container {
  position:absolute;
  width:120px;
  height:120px;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }

.container > div {
  position:absolute;
  transform-origin:center;
}

.square, .circle, .triangle {
  
}

.square {
  background:#75B3D1;
  width:24px;
  height:24px;

  transform:scale(0);
  animation: shrinkgrow 3s ease-in-out infinite;
  
  animation-delay:2s;
}

.circle {
  background:#81D47D;
  width:27px;
  height:27px;

  border-radius:50%;
  animation: shrinkgrow 3s ease-in-out infinite;
  animation-delay:0s;
}

.triangle {
  width: 0;
  height: 0;

  border-style: solid;
  border-width:  0 14.5px 25.1px 14.5px;
  border-color: transparent transparent #D2798C transparent;
  transform:scale(0);
  animation: shrinkgrow 3s ease-in-out infinite;
  animation-delay:1s;
}

@keyframes shrinkgrow {
  0% {
    transform:scale(0);
  }
  
  12.5% {
    transform:scale(1)
  }
  
  25% {
    transform:scale(1)
  }
  
  33% {
    transform:scale(0)
  }
  100% {
    transform:scale(0)
  }
}
    
}

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #AAA;
        z-index: 1000;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }

/*
*BACKGROUND
*/
.bg-main {
    background: #fff;
    background-image: url();
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-main .bg-layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 6;
  transition: opacity 0.5s ease;
  transform: translate3d(0, 0, 0);
}

.bg-layer-move {
  width: 100%;
  height: 900px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: transparent url('../img/thumb/1.pn') left bottom no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 550px) {
  .bg-move {
    display: none;
  }
}

.x1 {
  -moz-animation: move-layer-bg 40s linear infinite;
  -webkit-animation: move-layer-bg 40s linear infinite;
  animation: move-layer-bg 40s linear infinite;
  width: 2036px;
  height: 1608px;
}

@-webkit-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}
@-moz-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}
@-o-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}

/*
*TAGLINE
*/
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li{
    text-align: webkit-match-parent;
}

.whenwebuild_block{
    height: 33.3%;
}

.whenwebuild_title{
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
    
    :before{
    display: inline-block;
    margin-left: -0.25em;
    height: 100%;
    vertical-align: middle;
    }
    
    .col-right{
    margin-left: 10px;
    margin-right: 10px;
    }
    
    .col-left{
        span{
        font-size: 1em;
        transform: rotate(-90deg);

        }
    }
    
    .whenwebuild_inner{
        display: inline-block;
        max-width: 99%;
        position: relative;
        padding: 0 57px;
        vertical-align: middle;
    }
    
    ul{
    float: left;
    }
    
    li{
    line-height: 180%;
    font-size: 2em;   
        span{
            display: inline-block;
            transform: translate(0,0);
            transition: transform 750ms cubic-bezier(1, 0.02, 0.1, 1),opacity 500ms cubic-bezier(1, 0.02, 0.1, 1)
        }
    }
}



h5{
     top: 0;
     font-family: OpenSansSB;
     transform:rotate(-90deg);
    


}
     li{
     transform: none;
     list-style: none;
     }

.tag>h1{
     font-family:OpenSansSB;
     font-size: 105px;
     left: -50%;
     vertical-align: bottom;
    
}


/*=======================
*PROJECTS
=======================*/
/* Made with http://icomoon.io/app */

/* General style */
#projects{
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
}

/* Slideshow style */
.slideshow {
	position: fixed;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.slideshow-open .slideshow {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.slideshow ul {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,150px);
	transform: translate3d(0,0,150px);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow ul.animatable li {
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.slideshow-open .slideshow ul {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.slideshow li {
	width: 660px;
	height: 560px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -280px 0 0 -330px;
	visibility: hidden;
}

.slideshow li.show {
	visibility: visible;
}

.slideshow li:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.8);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.slideshow li.current:after {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.slideshow figure {
	width: 100%;
	height: 100%;
	background: #fff;
	border: 50px solid #fff;
	overflow: hidden;
}

.slideshow figcaption {
	padding-bottom: 20px;
}

.slideshow figcaption h3 {
	font-weight: 300;
	font-size: 200%;
}
    

    
/* Navigation */
.slideshow nav span {
	position: fixed;
	z-index: 1000;
	color: #59656c;
	text-align: center;
	padding: 3%;
	cursor: pointer;
	font-size: 2.2em;
}

.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slideshow nav span.nav-next {
	right: 0;
}

.slideshow nav span.nav-close {
	top: 0;
	right: 0;
	padding: 0.5em 1em;
	color: #31373a;
}

.icon:before,
.icon:after {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

span.nav-prev:before {
	content: "\e601";
}

span.nav-next:before  {
	content: "\e600";
}

span.nav-close:before {
	content: "\e602";
}

/* Info on arrow key navigation */
.info-keys {
	position: fixed;
	top: 10px;
	left: 10px;
	width: 60px;
	font-size: 8px;
	padding-top: 20px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1px;
	text-align: center;
}

.info-keys:before,
.info-keys:after {
	position: absolute;
	top: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 14px;
	font-size: 12px;
}

.info-keys:before {
	left: 10px;
	content: "\e603";
}

.info-keys:after {
	right: 10px;
	content: "\e604";
}

@media screen and (max-width: 60em) {
	.grid li {
		width: 33.3%;
	}

	.slideshow li {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.slideshow li figure img {
		width: auto;
		margin: 0 auto;
		max-width: 100%;
	}

	.slideshow nav span,
	.slideshow nav span.nav-close {
		font-size: 1.8em;
		padding: 0.3em;
	}

	.info-keys {
		display: none;
	}

}

@media screen and (max-width: 35em) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 24em) {
	.grid li {
		width: 100%;
	}
}

}

    
/*=======================
*COLLABORATION
=======================*/
#collaboration{
    color: #000;
    height: 800px;
}
    
/*=======================
*EVENTS
=======================*/


/*=======================
*CODEPLAY
=======================*/
#codeplay{
    height: 700px;
}  



/*=======================
*PROFILE
=======================*/
#profile{
    .aboutus{
        background: #000;
        height: 700px;
        
        .slider-gallery {
        overflow:hidden;
        white-space:nowrap;	
        }

        .slider-gallery > * {
        display:inline-block;	
        
        float:none;
        }

    }
    
    .personal_prof{
    
    }
}
    
/*=======================
*FOOTER
=======================*/
footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: #454733;
}


/*
*HAMBURGER
*/
.burger-menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.burger {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 50px;
  height: 4px;
  top: 20px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 50px;
  height: 4px;
  bottom: 20px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}