body {
  color: #000;
  overflow-x: hidden;
}

img.typeface {
    width: 350px;
    height: auto;
    padding: 10px 20px;
}

/*
*BACKGROUND
*/
.bg-main {
    background: #fff;
    background-image: url();
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.bg-main .bg-layer{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 6;
  transition: opacity 0.5s ease;
  transform: translate3d(0, 0, 0);
}

.bg-layer-move {
  width: 100%;
  height: 900px;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background: transparent url('..') left bottom no-repeat;
  background-size: cover;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 550px) {
  .bg-move {
    display: none;
  }
}

.x1 {
  -moz-animation: move-layer-bg 40s linear infinite;
  -webkit-animation: move-layer-bg 40s linear infinite;
  animation: move-layer-bg 40s linear infinite;
  width: 2036px;
  height: 1608px;
}

@-webkit-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}
@-moz-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}
@-o-keyframes move-layer-bg {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -1400px;
  }
}

/*
*TAGLINE
*/
#main .row{
    top: -50%;
    left: -50%;
}

.tag>h3{
     top: 0;
     font-family: OpenSansSB;
     transform:rotate(-90deg);
     font-size: 55px;
    .matter{
    transform: rotate(90deg);
        color: #aaa;
        font-size: 65px;
    }

}
     li{
     transform: none;
     list-style: none;
     }

.tag>h1{
     font-family:OpenSansSB;
     font-size: 105px;
     left: -50%;
     vertical-align: bottom;
    
}



/*
*HAMBURGER
*/
.burger-menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.burger {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 4px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
}
.burger::before {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 50px;
  height: 4px;
  top: 20px;
  content: "";
  display: block;
}
.burger::after {
  position: absolute;
  background: rgba(111,111,111,1);
  width: 50px;
  height: 4px;
  bottom: 20px;
  content: "";
  display: block;
}
.burger::after, .burger::before, .burger {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
.burger-menu.menu-on .burger::after{
   transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
.burger-menu.menu-on .burger::before{
   transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
  top: 0px;
}
.burger-menu.menu-on .burger{
 background: rgba(111,111,111,.0);
}